%label {
	font-family: f(sans);
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 1px;
}

/* M e n ú */
%label-menu {

	@extend %label;
	font-family: f(sans);
	font-weight: bold;
	text-transform: uppercase;
	color: c(gray);
	font-weight: 400;

}


/* I n p u t  t e x t */
%label-input-text, .label-input-text {
	font-family: f(sans);
	font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
}
